*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Righteous", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(247,249,248);
}

body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1280px;
}

p{
    line-height: 30px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}